# -------------------------------
# VS Code + LaTeX: Build-Ausgabe
# -------------------------------
build/
latex.out/

# -------------------------------
# Betriebssystem
# -------------------------------
.DS_Store
Thumbs.db
Desktop.ini

# -------------------------------
# VS Code (Workspace-Dateien bewusst NICHT ignorieren)
# (settings.json & extensions.json sollen geteilt werden)
# Optional: persönliche Debug-Configs ausschließen
.vscode/launch.json

# -------------------------------
# Core LaTeX/pdflatex Auxiliary
# -------------------------------
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# -------------------------------
# Intermediate documents
# -------------------------------
*.dvi
*.xdv
*-converted-to.*

# Falls du PDF-Figuren versionieren willst, KEIN globales *.pdf-Ignore!
# (Generierte PDFs landen ohnehin in build/)

# -------------------------------
# Bibliography (bibtex/biblatex/biber)
# -------------------------------
*.bbl
*.bbl-SAVE-ERROR
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

# -------------------------------
# Build-Tools
# -------------------------------
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync
*.rubbercache
rubber.cache

# -------------------------------
# latexrun
# -------------------------------
latex.out/

# -------------------------------
# Package-spezifische Dateien
# (nur häufig Relevantes beibehalten)
# -------------------------------

# algorithms
*.alg
*.loa

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# comment
*.cut

# elsarticle
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

# ledmac/ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs
*.slg
*.slo
*.sls
# Für glossaries-extra ggf. auch *.ist ignorieren:
# *.ist

# gnuplot
*.gnuplot
*.table

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.glog
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
*-tikzDictionary
# Wenn knitr TikZ-Dateien erzeugt und du sie ignorieren willst:
# *.tikz

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# newpax
*.newpax

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# svg (Inkscape-Exports)
svg-inkscape/

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# titletoc
*.ptc

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# standalone
*.sta

# Makeindex
*.lpz

# xwatermark
*.xwm

# REVTeX (optional)
#*Notes.bib

# -------------------------------
# Editoren & temporäre Dateien
# -------------------------------
# Allgemein
*~
*.bak
*.backup
*.sav
*.swp
.*.swp

# LyX
*.lyx~

# Texpad
.texpadtmp

# Kile
*.tps

# Emacs/AUCTeX
./auto/*
*.el

# expex
*-tags.tex

# Latexian
TSWLatexianTemp*
